<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Bryce Kellogg</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav link-effect">
                        {% for navTitle in site.navbar %}
                            {% assign navPage = site.pages | where: "title",navTitle | first %}
                            <li>
                                <a href="{{ navPage.url | relative_url }}">{{ navPage.title | escape }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>
<!-- Banner -->
<div class="banner">
</div>

